<div class="hero-content text-center text-neutral-content">
  {{data().content}}
</div>

<div jsname="Ij5xHc">
  <a 
    href="https://www.google.com/maps/place/11+Rue+Saint-Nicaise,+51100+Reims/data=!4m2!3m1!1s0x47e97437e504362f:0x3552e95e4898e3d7?sa=X&ved=2ahUKEwj6uZeGjYqEAxXJUKQEHZ25BooQ8gF6BAgPEAA" 
    style="cursor:pointer" 
    data-url="https://www.google.com/maps/place/11+Rue+Saint-Nicaise,+51100+Reims/data=!4m2!3m1!1s0x47e97437e504362f:0x3552e95e4898e3d7?sa=X&ved=2ahUKEwj6uZeGjYqEAxXJUKQEHZ25BooQ8gF6BAgPEAA" 
    tabindex="0" 
    ping="/url?sa=t&amp;source=web&amp;rct=j&amp;opi=89978449&amp;url=/maps/place/11%2BRue%2BSaint-Nicaise,%2B51100%2BReims/data%3D!4m2!3m1!1s0x47e97437e504362f:0x3552e95e4898e3d7%3Fsa%3DX%26ved%3D2ahUKEwj6uZeGjYqEAxXJUKQEHZ25BooQ8gF6BAgPEAA&amp;ved=2ahUKEwj6uZeGjYqEAxXJUKQEHZ25BooQ8gF6BAgWEAI">
    <div class="TlfAte fMnWhd ef0Hld" id="lu_map">
      <img id="pimg_1" src="https://www.google.com/maps/vt/data=v7rG0M06gSw3d_3_6WusH9hOzvLaB7UZqtBeGvrRI4j45DiG5zYi7I-23746spf9Ob45xug4DzuXy_AVMI_G3znEoa-Dc2NdoUBgkWF6riY7H054uzsRra-X4-Y11WxUDM8K1E4tMGcY-iPBTX0ajZdL8NH5XR6A-Gtpk9v_pMkyEQAeJEv6DAD141lJtYGONdwOjPocqr47HJ0XRJzKLVdPEOIiDF_QRbmWcQB1SWnfhgaX5Hk4qCSNU1KZfqdDz8NC7s8XakL96YHzFJQ_8ima7GRRdn50RS2TGqii4pPwWttDR8QKzjx6zQ350ofIVZ-Iqr9Zd5cwAw" class="YQ4gaf" height="338" width="650" alt="" data-csiid="13" data-atf="1" data-ilt="1706789147375">
    </div>
  </a>
</div>